
.categorias{
    font-size: 20px;
    padding: 20px 0px 0px 0px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.linea{
    border-bottom: 0.5px solid  grey;  
      
}

.contTarjeta{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items:space-around; 
      
    
}

.tarjeta{
    margin: 10px;
    width: 30%;
}